<nav class="navbar navbar-full navbar-dark bg-danger">
  <a class="navbar-brand" href="#">
    Tember,
    <small>a store for high quality wood workers.</small>
  </a>
</nav>
<div class="container">
  <div class='row'>
    <div class='col-xs-12'>
      {{store-search}}
    </div>
  </div>
</div>
{{outlet}}
